--no-private  --protected app/controllers/api/v0/**/*.rb 
--tag api_version:"API VERSION"
--tag url:"URL"
--tag discussion:"DISCUSSION"
--tag action:"HTTP ACTION"
--type-name-tag required:"REQUIRED"
--type-name-tag optional:"OPTIONAL"
--type-tag response:"RESPONSE"
--type-name-tag response_field:"RESPONSE FIELD"
--type-name-tag property:"PROPERTY"
--tag example_request:"EXAMPLE REQUEST"
--tag example_request_description:"EXAMPLE REQUEST DESCRIPTION"
--tag example_response:"EXAMPLE RESPONSE"
--tag example_response_description:"EXAMPLE RESPONSE DESCRIPTION"
